
@{
    ViewData["Title"] = "WrongModule";
}




<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="https://previews.123rf.com/images/nerthuz/nerthuz1804/nerthuz180400209/100139212-wrong-cross-symbol-isolated.jpg" class="img-thumbnail" />
        </div>

        <div class="col-md-6">
            <h1>Invlaid User Name or Password </h1>

            <a href="@Url.Action("Create","LiginModules")" class="btn btn-primary">Try Again </a>
        </div>


    </div>

</div>


